html{
    padding: 0;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
* {
    font-family: 'Noto Sans JP', sans-serif;;
    font-size: 1rem;
}
a{
    text-decoration: none;
    font-size: x-large;
}
li{
    list-style: none
}
header {
    background-color: #dfc8f2;
}
footer {
    background-color: #dfc8f2;
}
main {
    background-color: #fbe192;
}

.pt-7{
    padding-top: 7rem;
}
.pt-10{
    padding-top: 10rem;
}
.ps-10{
    padding-left: 10rem;
}
.ps-15{
    padding-left: 15rem;
}
.ps-28{
    padding-left: 28rem;
}
.ps-20{
    padding-left: 20rem;
}
.pe-10{
    padding-right: 10rem;
}
.p-PC-R{
    padding-right: 20rem;
}
.p-PC-R2{
    padding-right: 4rem;
}
.p-PC-L{
    padding-left: 35rem;
}
.resize{
    height: 500px;
    width: auto;
}
.fs-m{
    font-size: 2rem;
}
.fs-L{
    font-size: 3.5rem;
}
.fs-XL{
    font-size: 5rem;
}
.background_amarillo{
    background-color: #fbe192;
}
.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.iframe_video{
    width: 560px;
    height: 315px;
}


// boton del carrousel
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

@mixin h-w-($height, $width){
    height: $height;
    width: $width;
}
@mixin m-p-($marginT, $marginR, $marginB, $marginL, $paddingT, $paddingR, $paddingB, $paddingL){
    margin-top: $marginT;
    margin-right: $marginR;
    margin-bottom: $marginB;
    margin-left: $marginL;
    padding-top: $paddingT;
    padding-right: $paddingR;
    padding-bottom: $paddingB;
    padding-left: $paddingL;
}
.img-tamaño{
    @include h-w-(100%, 100%)
}
.carrousel-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vh;
}
.center-auto{
    margin-left: auto;
    margin-right: auto;
}
.center-auto-img{
    margin-left: auto;
    margin-right: auto;
}
.tamaño-main{
    @include h-w- (95vh, none)
}
.center{
    @include m-p-(0, 18%, 0, 18%, 0, 0, 0, 0)
}
.center-l{
    @include m-p-(0, 40%, 0, 40%, 0, 0, 0, 0)
}
.pb-missyou{
    padding-bottom: 20rem;
}
.tablet-telefono{
    display: none;
}
// televisor
@media (max-width: 1660px){
    .center{
        @include m-p-(0, 18%, 0, 18%, 0, 0, 0, 0)
    }
    .center-l{
        @include m-p-(0, 35%, 0, 35%, 0, 0, 0, 0)
    }
    .tablet-telefono{
        display: none;
    }
}
/* PC tamaño normal */
@media (max-width: 1440px){
    .p-PC-R{
        padding-right: 0rem;
    }
    .p-PC-R2{
        padding-right: 0rem;
    }
    .p-PC-L{
        padding-left: 0rem;
    }
    .pt-10{
        padding-top: 12rem;
    }
    .ps-1-{
        padding-left: 12rem;
        }
    .ps-1-4{
        padding-left: 20.8rem;
        }
        .fs-L{
            font-size: 3rem;
        }
        .fs-XL{
            font-size: 4.2rem;
        }
    .center{
        @include m-p-(0, 12%, 0, 12%, 0, 0, 0, 0)
    }
    .center-l{
        @include m-p-(0, 31%, 0, 31%, 0, 0, 0, 0)
    }
    .carrousel-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50vh;
    }
    .tamaño-main{
        @include h-w- (92vh, none)
    }
    .pb-missyou{
        padding-bottom: 6rem;
    }
    .tablet-telefono{
        display: none;
    }
}

/* Tablet */
@media (max-width: 992px) {
    .p-PC-R{
        padding-right: 0;
    }
    .p-PC-R2{
        padding-right: 0rem;
    }
    .p-PC-L{
        padding-left: 0;
    }
    .iframe_video{
        width: 420px;
        height: 240px;
    }
    .pt-10{
        padding-top: 7.2rem;
    }
    .ps-1-{
        padding-left: 5rem;
        }
    .ps-1-4{
        padding-left: 13.8rem;
        }
    .center{
        @include m-p-(0, 10%, 0, 10%, 0, 0, 0, 0)
    }
    .center-l{
        @include m-p-(0, 28%, 0, 28%, 0, 0, 0, 0)
    }
    .carrousel-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35vh;
    }
    .tamaño-main{
        @include h-w- (88vh, none)
    }
    .pc-tele{
        display: none;
    }
    .tablet-telefono{
        display: flex;
    }
    .row{
        justify-content: center;
    }
}

/* Telefono */
@media (max-width: 576px) {
    .p-PC-R{
        padding-right: 0rem;
    }
    .p-PC-R2{
        padding-right: 0rem;
    }
    .p-PC-L{
        padding-left: 0rem;
    }
    .ps-1-{
        padding-left: 2rem;
        }
    .ps-1-4{
        padding-left: 6.8rem;
        }
    .fs-L{
        font-size: 2.3rem;
    }
    .fs-XL{
        font-size: 3.5rem;
    }
    .pt-10{
        padding-top: 6rem;
    }
    .iframe_video{
        width: 280px;
        height: 160px;
    }
    .ps-10{
        padding-left: 3rem;
    }
    .pe-10{
        padding-right: 3rem;
    }
    .img-tamaño{
        @include h-w-(50%, 100%)
    }
    .center{
        @include m-p-(0, 5%, 0, 7%, 0, 0, 0, 0)
    }
    .center-l{
        @include m-p-(0, 23%, 0, 23%, 0, 0, 0, 0)
    }.carrousel-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 26vh;
    }
    .tamaño-main{
        @include h-w- (88vh, none)
    }
    .pc-tele{
        display: none;
    }
    .tablet-telefono{
        display: flex;
    }
    .row{
        justify-content: center;
    }
}

